.offcanvas {
    position: fixed;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: -22px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    border-top: 2px solid rgb(250, 246, 246);
    // overflow:hidden !important;
  }
  
  .offcanvas-body {
    /* background-color: white; */
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    margin-top: -16px;
  }
  
  .progress {
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: -40px;
  }
  
  .progress-bar {
    background-color: #007bff;
    height: 10px;
    transition: 0.1s ease;
  }
  
  .left-box {
    width: 100px;
    height: 100px;
  }
  
  .left-box img {
    height: 82px;
    width: 103px;
  }
  
  .offcanvas-body h5 {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: -981px;
  }
  
  .toggle {
    position: absolute;
    bottom: 78px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #007bff;
    background-color: blue;
    border-radius: 5px;
    width: 50px;
    height: 30px;
  }
  
  .toggle img {
    margin-left: 14px;
    margin-top: 5px;
  }
  .rotate-image {
    transform: rotate(180deg);
  }
  
  .hidden {
    display: none !important;
  }
  
  .down {
    bottom: 1px;
  }
  
  
.button-container {
    display: flex;               /* Enable flexbox layout */
    justify-content: center;     /* Center horizontally */
    align-items: center;         /* Center vertically */
    height: 50vh; 
}

.btn {
    padding: 8px 44px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border-color: #007bff;
}

